<plugin name='proxy' version='0.1.1' grailsVersion='1.3.7 &gt; *'>
  <author>Sean Gilligan</author>
  <authorEmail>sean at msgilligan dot com</authorEmail>
  <title>Ajax Proxy Plugin (for cross-domain requests)</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/proxy</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>